body{background-color:rgb(173,209,173);}
h1{font-size:calc(1px + 1.4vw);background-color:rgb(141, 185, 141)}
p{font-size:calc(0.5px + 1.2vw)}
.nav-list{display:inline;
padding-left:2vw;font-size:calc(8px + 1.8vw);text-align:center; color:white;}
