#flex-container{display:flex;flex-direction:row;}
body{background-color:rgb(173,209,173);}
h1{font-size:20px;background-color:rgb(141, 185, 141)}
h2{font-size:18px;}
h3{font-size:18px;text-align:center;}
div{font-size:30px;}
column{flex:1;min-width:250px}
li{font-size:15px;}