#flex-container{display:flex;flex-direction:row;text-align:center;}
body{background-color:rgb(173,209,173);}
h1{font-size:30px;background-color:rgb(141, 185, 141);text-align:center;}
h2{font-size:18px;}
h3{font-size:18px;text-align:center;}
column{flex:1;min-width:250px}
li{font-size:15px;text-align:center;}
.nav-list{display:inline;
padding-left:2vw;font-size:30px;text-align:center; color:white;}
p{text-align:center;}
