Body{background-color:rgb(252, 158, 158);}
h1{background-color:rgb(188, 109, 188); font-size:22px}
h2{background-color:rgb(127, 188, 243);font-size: 20px}
h3{background-color:rgb(191, 252, 201);font-size: 20px}
p{background-color:rgb(189, 246, 246);font-size: 14px}
ul{background-color:rgb(247, 99, 99);font-size: 14px}
ol{background-color:rgb(254, 254, 198);font-size: 14px}
header{background-color:rgb(215, 201, 255);font-size: 16px}