body{background-color:rgb(7, 39, 63)}
p{color:rgb(10, 46, 74);font-size:20px;color:rgb(254, 238, 220);text-align:center}
h1{font-size:28px;color:rgb(254, 238, 220);text-align:center}
h2{font-size:18px;text-align:center;color:rgb(254, 238, 220)}
.images{text-align:center;}